<!DOCTYPE html>
<html>
  <head>
    <title>SubtreesResolver</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= form_for @branches, url: '.', method: 'get' do |f| %>
      <%= f.label :branch, 'Branch name' %>

      <%= f.select(:branch_select) do %>
        <% @branches.branch_select.each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
      <%= f.submit 'show branch' %>
    <% end %>

    <%= yield %>
  </body>
</html>
